.title {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
}

.subtitle {
    font-family: 'Lato', sans-serif;
    color: #999;
    margin-bottom: 1em;
    margin-top: 1.5em;
    text-transform: capitalize;
    text-align: center;
}

.menu {
    width: 900px;
    margin: 80px auto 0 auto;
    text-align: center;
}

.menu-item {
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
    padding: 10px 40px 15px 40px;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #999;
    vertical-align: baseline;
}

.menu-item-active {
    position: relative;
    bottom: -1px;
    color: #c0392b;
    padding: 15px 40px 15px 40px;
    margin-top: 0px;
}

hr {
    margin-top: 25px;
    border: 1px, solid, #f1f1f1;
}

.resume-title {
    margin-top: 60px;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;

}

.resume-subtitle {
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: 700;

}

.resume-date {

    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: white;
    background-color: #5bc0de;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}

.resume-date--red {

    background-color: red;


}

.resume-date--orange {
    background-color: orange;
}

.resume-date--green {
    background-color: #5DB85C;
}

.resume-info {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-aside {
    width: 45%;
    border-left: 1px solid #f1f1f1;
    height: fit-content;
    padding: 0 20px;
    margin-left: 10px;
}

.resume-aside resume-title {
    margin-top: 60px;
    margin-bottom: 25px;
    font-family: 'Open Sans';
    font-size: 36px;
    font-weight: 700;

}

.resume-aside resume-title .resume-subtitle {
    margin-top: 25px;
    margin-top: 25px;
    font-family: 'Open sans';
    font-size: 21px;
    font-weight: 700;
}

p {
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.skills {
    list-style: none;
    padding: 0;
}

.skills-item {
    margin-bottom: 15px;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #f1f1f1;
    border-radius: 4px;
}

.skills-bg {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-color: #c0392b;
    padding: 4px;
    display: block;
    color: white;
    border-radius: 3px;
}

.photoshop {
    width: 50%;
    background-color: #5DB85C;
}

.ilustrator {
    width: 90%;
    background-color: orange;
}

.indesign {
    width: 60%;
    background-color: #8E44AD;
}

.xd {
    width: 70%;
    background-color: #F1C40F;
}

.sketch {
    width: 65%;
    background-color: #2C3E50;
}

.office {

    width: 68%;
    background-color: #c0392b;
}

.linux {
    background-color: #555;
    width: 69%;
}

.typography {
    width: 93%;
    background-color: orange;


}

.web {
    width: 68%;
    background-color: #8E44AD;

}

.user {
    width: 30%;
    background-color: #5DB85C;

}

.html {
    width: 60%;
    background-color: #5DB85C;

}

.php {
    width: 90%;
    background-color: orange;
}

.javascript {
    width: 97%;
    background-color: #8E44AD;

}

.ruby {
    width: 85%;
    background-color: #F1C40F;

}

.python {
    width: 88%;
    background-color: #555;
}