.title {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
}

.subtitle {
    font-family: 'Lato', sans-serif;
    color: #999;
    margin-bottom: 1em;
    margin-top: 1.5em;
    text-transform: capitalize;
    text-align: center;
}

.menu {
    width: 900px;
    margin: 80px auto 0 auto;
    text-align: center;
}

.menu-item {
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
    padding: 10px 40px 15px 40px;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #999;
    vertical-align: baseline;
}

.menu-item-active {
    position: relative;
    bottom: -1px;
    color: #c0392b;
    padding: 15px 40px 15px 40px;
    margin-top: 0px;
}

hr {
    margin-top: 25px;
    border: 1px, solid, #f1f1f1;
}

.resume-title {
    margin-top: 60px;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;

}

.resume-subtitle {
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: 700;

}

.resume-date {

    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: white;
    background-color: #5bc0de;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius:3px;


}

.resume-info {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-aside {
    margin-left: 25px;
    border: 50px, solid, #fa1212;
}

/* .skills-bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(135deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent); 
    background-size: 5rem 5rem;
    z-index: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
  } */

p {
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.skills-bg-photoshop{
    background-color:#c0392b;
}